<% include ./partials/header %>
<div class="ui main text container segment">
  <div class="ui huge header"><%= blog.title %></div>
  <div class="ui top attached segment">
    <div class="item">
       <img class="ui centered rounded image" src="<%=blog.image%>">
       <div class="content">
         <!--how to make the date user friendly -->
          <span><%= blog.created.toDateString() %></span>
      </div>
      <div class="description">
        <p><%=blog.body%></p>
      </div>
      <a class="ui black basic button" href='/blogs/<%= blog._id %>/edit'>Edit</a>
      <!-- how to delete a post -->
      <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
        <button class="ui black basic button">Delete</button>
      </form>
     </div>
  </div>
</div> 
  
  



<% include ./partials/footer %>